/* {% load static %} */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
	line-height: 1; padding: 0px;
	margin: 0px;font-family: 'Roboto', sans-serif
 !important;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.profile {
  background: #ffffff;
  border-radius: 96px;
  width: 166px;
  height: 166px;
  margin: 0 auto;
    margin-top: 0px;
  text-align: center;
  display: block;
  margin-top: 29px;
  padding-top: 0;
}
.rounded-logo{ border-radius:40px; padding-top:20px; }

.bg-image{
	background:url("../images/banner.png"); 
	background-size: 100% ; height: 300px;
	background-repeat: no-repeat;
}


.name{ font-size:32px; font-weight:bold; }

.btn-outline-dark {
    color: #fff;
    background: #CF2124 !important;
    border-color: #CF2124;
    margin-right: 10px;
        height: 53px; width: 65%;
}

.bg-circle {
    background: #fff;
    width: 148px;
    height: 148px;
    border-radius: 95px;
}

.contact-details{ padding-top:40px; position:relative; }
.contact-details li{  height:55px; width:100%; display:block; }
.contact-details li a{ text-decoration:none; color:#000; }

.centerImage{ padding-top:30px; padding-left:20px; }

.logomiddlemain{ padding-top:30px; }

 .address{ display: block ; background:url("../images/location.png"); background-repeat: no-repeat; width: 32px; height: 32px; position: relative; float:left; padding-right:50px;}
  .mobile-no{ display: block ; background:url("../images/telephone.png"); background-repeat: no-repeat; width: 32px;  height: 32px; position: relative; float:left; padding-right:50px;}
  .printer{display: block ; background:url("../images/printer.png"); background-repeat: no-repeat; width: 32px;  height: 32px; position: relative; float:left;padding-right:50px; }
 .call{display: block ; background:url("../images/telephone-new.png"); background-repeat: no-repeat; width: 32px;  height: 32px; position: relative; float:left; padding-right:50px;}
 .envlope{display: block ; background:url("../images/envelope.png"); background-repeat: no-repeat; width: 32px;  height: 32px; float:left;padding-right:50px;}
 .weblink{display: block ; background:url("../images/globalization.png"); background-repeat: no-repeat; width: 32px;  height: 32px; position: relative; float:left; padding-right:50px; }

 .leftalign{ display:block; line-height:22px;  padding-top:0px;}

 .numbertop{ padding-top:7px; }

 .logomiddle{ width:231px; padding: 30px; margin:0 auto; }

 .bgColor{ background:#CF2124;  }

 .leftalign a{ color:#000 !important; }
 .colorlink{color:#000 !important; line-height:18px; }

 .btn-check:active+.btn-outline-dark:focus, .btn-check:checked+.btn-outline-dark:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus, .btn-outline-dark:active:focus {
    box-shadow: none !important;
}
.btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus {
    box-shadow:none;
}
.btn-outline-dark:nth-child(2){
width: 60px;

}
.leftalign:first-child {

    padding-top: 7px !important;
    
}

img{ max-width:100%; }
.colmin img{ width:80px; }
.buttoBorder .download_my_qr_code{ background:none  !important; border:1px solid #CF2124; color:#CF2124 !important;  }



.qrwidth {
  width: auto;
  height: auto;
}

@media screen and (max-width: 993px) {

    .contact-details li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
    .buttoBorder .download_my_qr_code{ background:none  !important; width: auto; border:1px solid #CF2124; color:#CF2124 !important;  }

    .qrwidth{ width:120px; height:120px; }

.bg-image {
  background: url("../images/banner.png");
    background-repeat: repeat;
    background-size: auto;
  background-size: 100%;
  height: 213px;
  background-repeat: no-repeat;
}
.logomiddlemain {
  padding-top: 23px;
  width: 107PX;
}


.profile {
  
  width: 130PX;
  height: 130PX;
  margin: 0 auto;
    margin-top: 10px;

}
}


@media screen and (max-width: 768px) {
.bg-image {

    height: 204px;

}

}
@media screen and (max-width: 667px) {
    .profile {
  background: #ffffff;
  border-radius: 96px;
  width: 140px;
  height: 140px;
  margin: 0 auto;
    margin-top: 0px;
  text-align: center;
  display: block;
  margin-top: 14px;
  padding-top: 0;
}
.logomiddlemain {
  padding-top: 23px;
  width: 100px;
}
    .logomiddlemain{ padding-top:30px; }

.qrwidth {
  width: auto;
  height: auto;
}
    .buttoBorder .download_my_qr_code {
  background: none !important;
  width: 160px;
  border: 1px solid #CF2124;
  color: #CF2124 !important;
}

	.leftalign {
    display: block;
    line-height: 17px;
    padding-top: 7px;
    font-size: 14px;
}

.leftalign:first-child {

    padding-top: 0px;
    
}

.bg-image {
    background: url("images/banner.png") no-repeat;
  
    height: 214px;
   
}
.address {
   
    height: 42px;
 

}


}