<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Employee Management System</h1>
    <h2>Login</h2>
    {% for message in messages %}
        <h5>{{ message }}</h5>
    {% endfor %}
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <p>Username:</p>
        <input type="text" name="username" class="username" />
        <p>Password:</p>
        <input type="password" name="password" class="password" />
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>
